.main-dialog-background{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}

.main-dialog-window{
    text-align: center;
    position: relative;
    top:30vh;
    left:30vw;
    height: 40vh;
    width: 40vw;
    background-color: burlywood;
    min-width: 400px;
}

.dialog-header{
    background-color: sandybrown;
    padding: 10px;
    height: 2vh;
}

.header-close-button{
    float: right;
}

.header-close-button:hover{
cursor: pointer;
background-color: cadetblue;
}

.title-of-input{
    padding: 5px;
    text-align: end;
}

.wrapper-div-of-input{
padding: 5px 0.5vw ;
width: 39vw;
min-width: 400px;
}

.field-with-data-of-input{
    width: 50%;
    text-align: center;
    float: right;
    margin-right: 20px;
}

.wrapper-near-the-all-fields{
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: blueviolet;
}

.main-dialog-footer{
   text-align: end;
    padding:5px;
    background: sandybrown;
    height: 3vh;
}

.main-dialog-footer-indent{
    margin-right: 10px;
}

.error-message{
text-align: center;
margin-top: 2vh;
}

.users-error-footer{
    float: left;
}

.wait-request{
    position: absolute;
    top:15vh;
    left:10vw;
        padding: 2vw;
    background-color:  #2c6370;
    border-radius: 1vw;
}